In [1]:
#1.How many photos per year, per month
#2.Maximal photo per day
#3.How many photos without place assigned?
#4.Maximal photos in one place
#5.How many photos assigned to each place?
#6.How many people assigned totally?
#7.How many photos without people assigned?
#8.How many photos assigned to each device?
#9.How many devices assigned totally?
#10.How many photos without devices assigned totally?
#11.How many photos have description/comments
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

In [2]:
import pandas as pd
fvaFile = pd.read_csv("c:/work/fva/#data#/fvaFile.csv")

In [3]:
fvaFile.shape

(42883, 11)

In [4]:
fvaFile.columns

Index(['ID', 'Name', 'PlaceId', 'People', 'DevId', 'Description', 'ScanerId',
       'Comment', 'EventId', 'ReasonPeople', 'Tags'],
      dtype='object')

In [5]:
fvaFile.dtypes

ID                int64
Name             object
PlaceId         float64
People           object
DevId           float64
Description      object
ScanerId        float64
Comment          object
EventId         float64
ReasonPeople     object
Tags             object
dtype: object

In [6]:
fvaFile.describe()

                 ID       PlaceId         DevId    ScanerId       EventId
count  42883.000000  33198.000000  42638.000000  315.000000  25335.000000
mean   21442.000000    109.351557     47.256719  121.107937     28.614999
std    12379.400134    103.141624     59.556556    0.310794     26.318544
min        1.000000      0.000000      0.000000  121.000000      1.000000
25%    10721.500000     11.000000      1.000000  121.000000      5.000000
50%    21442.000000     87.000000      6.000000  121.000000     36.000000
75%    32162.500000    155.000000    119.000000  121.000000     39.000000
max    42883.000000    445.000000    188.000000  122.000000    204.000000

In [7]:
#1.How many photos per year, per month
fvaFile['year'] = fvaFile['Name'].str.slice(0,4)
fvaFile['month'] = fvaFile['Name'].str.slice(5,7)
fvaFile['day'] = fvaFile['Name'].str.slice(8,10)
fvaFile['hour'] = fvaFile['Name'].str.slice(11,12)
fvaFile['min'] = fvaFile['Name'].str.slice(14,15)
fvaFile['sec'] = fvaFile['Name'].str.slice(17,18)
fvaFile.tail(10)

,ID,Name,PlaceId,People,DevId,Description,ScanerId,Comment,EventId,ReasonPeople,Tags,year,month,day,hour,min,sec
42873,42874,2020-08-16-16-00-57.JPG,NaN,NaN,163.0,NaN,NaN,NaN,NaN,NaN,NaN,2020,08,16,1,0,5
42874,42875,2020-08-17-13-09-59.JPG,NaN,NaN,163.0,NaN,NaN,NaN,NaN,NaN,NaN,2020,08,17,1,0,5
42875,42876,2020-08-17-13-10-07.JPG,NaN,NaN,163.0,NaN,NaN,NaN,NaN,NaN,NaN,2020,08,17,1,1,0
42876,42877,2020-08-17-16-01-10.JPG,NaN,NaN,163.0,NaN,NaN,NaN,NaN,NaN,NaN,2020,08,17,1,0,1
42877,42878,2020-08-17-16-01-18.JPG,NaN,NaN,163.0,NaN,NaN,NaN,NaN,NaN,NaN,2020,08,17,1,0,1
42878,42879,2020-08-18-14-28-48.JPG,NaN,NaN,163.0,NaN,NaN,NaN,NaN,NaN,NaN,2020,08,18,1,2,4
42879,42880,2020-08-18-14-28-51.JPG,NaN,NaN,163.0,NaN,NaN,NaN,NaN,NaN,NaN,2020,08,18,1,2,5
42880,42881,2020-08-18-14-28-53.JPG,NaN,NaN,163.0,NaN,NaN,NaN,NaN,NaN,NaN,2020,08,18,1,2,5
42881,42882,2020-08-18-14-29-30.JPG,NaN,NaN,163.0,NaN,NaN,NaN,NaN,NaN,NaN,2020,08,18,1,2,3
42882,42883,2020-08-18-14-29-48.MOV,NaN,NaN,163.0,NaN,NaN,NaN,NaN,NaN,NaN,2020,08,18,1,2,4

In [18]:
fvaFile["year"].value_counts()

2007    4043
2015    3667
2018    3614
2009    3610
2013    3014
2019    2953
2011    2769
2008    2749
2014    2712
2012    2631
2017    2336
2010    2267
2006    1803
2004    1389
2016    1230
2005    1164
2020     416
2003     197
2002      44
2001      37
1977      26
1984      20
1986      17
1978      14
2000      13
1989      13
1975      13
1976      11
1994      10
1987       9
1996       8
1983       8
1990       8
1979       7
1993       6
1971       5
1991       5
1988       5
1999       4
1997       4
1982       4
1972       3
1992       3
1974       3
1998       3
1973       3
1980       3
1985       2
1981       2
1995       2
1965       1
1970       1
1968       1
1960       1
Name: year, dtype: int64

In [20]:
#import matplotlib.pyplot as plt
#plt.plot(fvaFile["year"].value_counts().nlargest(10))

In [21]:
fvaFile["month"].value_counts()

10    7239
06    6422
05    4055
08    3810
12    3699
09    3224
07    3114
03    2933
04    2665
01    2443
11    1875
02    1216
##     188
Name: month, dtype: int64

In [23]:
#plt.plot(fvaFile["month"].value_counts())

In [25]:
#2.Maximal photo per day
fvaFile['aDay'] = fvaFile['Name'].str.slice(0,10)
fvaFile["aDay"].value_counts().nlargest(10)
#plt.plot(fvaFile["aDay"].value_counts().nlargest(10))

2013-06-15    669
2008-03-07    494
2007-10-20    434
2018-10-09    419
2011-10-07    356
2015-10-03    346
2007-11-16    332
2011-10-06    322
2006-09-08    282
2018-09-01    281
Name: aDay, dtype: int64

In [26]:
#3.How many photos without place assigned?
#4.Maximal photos in one place
#5.How many photos assigned to each place?
import numpy as np
fvaFile.replace(r'^\s*$', np.nan, regex=True)
len(fvaFile[fvaFile["PlaceId"]==None])
#pd.options.display.max_rows = 100
fvaFile["PlaceId"].value_counts(dropna=False)
#fvaFile.groupby(["PlaceId"]).groups
vc = fvaFile["PlaceId"].value_counts(dropna=False)
vc.index = vc.index.astype(str)
print (vc.to_dict())

{'nan': 9685, '4.0': 3304, '1.0': 1802, '100.0': 1497, '132.0': 1325, '2.0': 1195, '72.0': 1188, '146.0': 1167, '87.0': 858, '107.0': 841, '11.0': 779, '5.0': 673, '30.0': 660, '96.0': 635, '49.0': 576, '3.0': 512, '60.0': 499, '118.0': 486, '12.0': 356, '102.0': 337, '89.0': 331, '38.0': 324, '85.0': 324, '188.0': 309, '48.0': 309, '76.0': 307, '116.0': 288, '181.0': 281, '6.0': 271, '130.0': 258, '70.0': 246, '147.0': 244, '182.0': 241, '187.0': 241, '97.0': 231, '40.0': 231, '131.0': 226, '105.0': 221, '228.0': 212, '69.0': 203, '93.0': 201, '208.0': 185, '154.0': 180, '127.0': 172, '14.0': 162, '92.0': 156, '78.0': 155, '169.0': 150, '10.0': 141, '71.0': 140, '172.0': 134, '134.0': 130, '247.0': 130, '68.0': 127, '161.0': 127, '153.0': 126, '62.0': 118, '167.0': 116, '189.0': 114, '240.0': 111, '158.0': 111, '149.0': 110, '144.0': 107, '150.0': 107, '77.0': 106, '139.0': 105, '244.0': 104, '204.0': 103, '259.0': 101, '148.0': 99, '203.0': 98, '249.0': 93, '180.0': 91, '112.0': 90, '155.0': 86, '82.0': 86, '231.0': 86, '15.0': 86, '129.0': 86, '120.0': 85, '101.0': 78, '111.0': 77, '122.0': 76, '90.0': 75, '173.0': 73, '241.0': 73, '26.0': 72, '243.0': 71, '0.0': 71, '159.0': 65, '103.0': 62, '285.0': 61, '250.0': 60, '209.0': 60, '95.0': 59, '119.0': 58, '86.0': 58, '99.0': 57, '166.0': 57, '98.0': 56, '17.0': 55, '27.0': 55, '84.0': 54, '16.0': 54, '110.0': 54, '106.0': 53, '226.0': 52, '207.0': 52, '273.0': 52, '7.0': 50, '191.0': 47, '245.0': 46, '151.0': 46, '123.0': 45, '178.0': 44, '157.0': 44, '242.0': 43, '246.0': 42, '46.0': 42, '104.0': 41, '140.0': 41, '64.0': 41, '50.0': 41, '114.0': 39, '190.0': 39, '215.0': 39, '9.0': 38, '142.0': 37, '183.0': 37, '186.0': 37, '115.0': 36, '198.0': 35, '254.0': 35, '126.0': 35, '229.0': 34, '125.0': 34, '113.0': 33, '145.0': 32, '171.0': 31, '286.0': 31, '174.0': 31, '248.0': 30, '230.0': 30, '63.0': 28, '170.0': 27, '160.0': 27, '8.0': 27, '284.0': 26, '128.0': 26, '197.0': 25, '214.0': 25, '274.0': 24, '73.0': 24, '165.0': 24, '217.0': 23, '91.0': 23, '227.0': 23, '65.0': 22, '232.0': 21, '162.0': 18, '216.0': 17, '66.0': 17, '20.0': 17, '218.0': 17, '179.0': 17, '213.0': 17, '143.0': 16, '24.0': 16, '56.0': 16, '94.0': 15, '196.0': 15, '185.0': 15, '175.0': 14, '195.0': 14, '152.0': 14, '202.0': 14, '280.0': 13, '141.0': 13, '61.0': 13, '18.0': 13, '220.0': 13, '210.0': 13, '109.0': 12, '252.0': 12, '262.0': 12, '253.0': 11, '67.0': 11, '31.0': 11, '25.0': 11, '33.0': 10, '200.0': 10, '29.0': 10, '238.0': 10, '271.0': 10, '184.0': 10, '117.0': 9, '260.0': 9, '206.0': 9, '79.0': 9, '212.0': 9, '219.0': 8, '201.0': 8, '39.0': 8, '135.0': 8, '193.0': 8, '222.0': 8, '251.0': 8, '81.0': 8, '223.0': 7, '225.0': 7, '224.0': 7, '237.0': 7, '28.0': 7, '192.0': 7, '176.0': 7, '88.0': 7, '136.0': 7, '281.0': 7, '177.0': 7, '283.0': 6, '258.0': 6, '211.0': 6, '236.0': 6, '194.0': 6, '168.0': 6, '75.0': 6, '124.0': 6, '32.0': 6, '83.0': 6, '275.0': 5, '282.0': 5, '74.0': 5, '59.0': 5, '19.0': 5, '221.0': 5, '23.0': 5, '234.0': 5, '278.0': 5, '37.0': 4, '108.0': 4, '121.0': 4, '36.0': 4, '279.0': 4, '257.0': 4, '156.0': 4, '265.0': 4, '133.0': 4, '163.0': 4, '138.0': 4, '205.0': 3, '80.0': 3, '45.0': 3, '276.0': 3, '233.0': 3, '44.0': 3, '13.0': 3, '137.0': 3, '269.0': 3, '199.0': 3, '255.0': 3, '239.0': 3, '164.0': 2, '263.0': 2, '51.0': 2, '261.0': 2, '35.0': 2, '277.0': 2, '235.0': 2, '47.0': 2, '42.0': 2, '256.0': 2, '22.0': 1, '272.0': 1, '34.0': 1, '52.0': 1, '266.0': 1, '57.0': 1, '53.0': 1, '55.0': 1, '21.0': 1, '267.0': 1, '270.0': 1, '264.0': 1, '268.0': 1, '43.0': 1, '54.0': 1, '41.0': 1}

In [27]:
#import matplotlib.pyplot as plt
#plt.plot(fvaFile["PlaceId"].value_counts())

In [28]:
#6.How many people assigned totally?
#7.How many photos without people assigned?
fvaFile["People"].value_counts(dropna=False)

NaN        42698
1             41
4             39
2             15
5              9
           ...
18,1           1
5,1            1
20,19          1
38,27,1        1
4,2            1
Name: People, Length: 70, dtype: int64

In [ ]:
#8.How many photos assigned to each device?
#9.How many devices assigned totally?
#10.How many photos without devices assigned totally?

In [29]:
fvaFile["DevId"].value_counts(dropna=False)
#plt.plot(fvaFile["DevId"].value_counts())

1.0      14805
124.0     4588
2.0       3176
6.0       2489
19.0      1146
         ...
137.0        1
126.0        1
59.0         1
128.0        1
182.0        1
Name: DevId, Length: 185, dtype: int64

In [ ]:
#11.How many photos have description/comments

In [93]:
#fvaFile.corr()

In [90]:
#fvaFile.groupby(["PlaceId"]).groups

In [91]:
#fvaFile.groupby(["DevId"]).groups

In [92]:
#fvaFile.groupby(["PlaceId"]).first()

In [14]:
len(fvaFile[fvaFile["PlaceId"]==16])

54